In [0]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

##Request Wikipedia and get table

In [68]:
req = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
if req.status_code == 200:
    print('Success!')
    content = req.content

Success!

In [0]:
#Get table
soup = BeautifulSoup(content, 'html.parser')
table = soup.findAll(name='table', attrs={'class':'wikitable sortable'})
table_str = str(table)
#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df = pd.read_html(table_str)[0]

#Cleaning data
### Filtering "Not assigned" borough

In [0]:
df = df[df.Borough != "Not assigned"]

### Verifing if exists "Not assigned" Neighbourhood

In [71]:
df[df.Neighbourhood == "Not assigned"].count()

Postcode         0
Borough          0
Neighbourhood    0
dtype: int64

### Grouping by Postcode an Borough and combining nighborhoods separeting with comma

In [0]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

### Printing the number of rows from dataframe

In [73]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

### Get the latitude and the longitude coordinates of each neighborhood

In [0]:
locations_file = pd.read_csv("https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv")

In [79]:
locations_file.rename(columns={'Postal Code':'Postcode'}, inplace=True)
df_complete = pd.merge(df, locations_file, on='Postcode')
df_complete

    Postcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
..       ...          ...  ...        ...        ...
98       M9N         York  ...  43.706876 -79.518188
99       M9P    Etobicoke  ...  43.696319 -79.532242
100      M9R    Etobicoke  ...  43.688905 -79.554724
101      M9V    Etobicoke  ...  43.739416 -79.588437
102      M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]